

body{
    font-family: 'Arima Madurai';font-size: 22px;
    background-color: lightgray;
    
}

.firstpage{
    

}

.firstimage{
    float: left;
    width:27%;
    height: 15%;
    margin: 0.5%;
}



#h1{
    float: right;
    width:70%;
    margin: 6px;
    font-size: 70px;
    
    
}

#h3{
    /* clear: both; */
    float: right;
    width:70%;
    margin: 10px;
    font-size: 25px;
}

#h5{

    float: right;
    width: 70%;
    margin: 10px;
    font-size: 15px;

}
section{
    clear: both;
}

#nav1{
    float: right;
    width: 70%;
    

}

.introduction{
    font-size:25px;
    float: right;
    width:70%;
    
}



#Ingredients{
    float: left;
    width:25%;
    border-style: solid;
    border-size: 1px;
    background-color:yellow;
    margin-left: 2%;
}





#directions{
  float: right;
  width: 70%;
  border-style: solid;
  border-size: 1px;
  background-color:rgb(238,130,238);
  font-size: 22px;   
  column-count: 2;
  margin-right:2%;


}

.finalimages{
    clear:both;
    display: flex;
}

#image2{
    width:50%;
    float:left;
    margin-left:10px;
    text-align: center
}

#image3{
    width:40%;
    margin size:5px;
    text-align: center
}

#image4{
    width:50%;
    float:right;
    text-align: center
}

#footer{
    font-size: 15px;
    text-align: center;
}



