

body{
    font-family: 'Architects Daughter';font-size: 22px;
    background-color: lightgray;
    
}

.firstimage{
    float: left;
    width:27%;
    height: 90%;
}

#h1{
    float: right;
    width:70%;
    margin: 6px;
    font-size: 70px;
    
    
}

#h3{
    /* clear: both; */
    float: right;
    width:70%;
    margin: 10px;
    font-size: 25px;
}

#h5{

    float: right;
    width: 70%;
    margin: 10px;
    font-size: 15px;

}
section{
    clear: both;
}

#nav1{
    float: right;
    width: 70%;

}

.introduction{
    font-size:25px;
    float: right;
    width:70%
    
}

.directions{
  float: left;
  width: 80%;

}




